<h1>Doodle#index</h1>
<p>Find me in app/views/doodle/index.html.erb</p>

<ul>
<% @doodles.each do |doodle| %>
  <li><%= doodle.title %> by <%= doodle.artist.name if doodle.artist.present? %><br>
  <%= image_tag doodle.image_url, :class => 'doodle' %></li>
<% end %>
</ul>
