<ul>
<% @doodles.each do |doodle| %>
  <li><%= link_to doodle.title, doodle_path(doodle.id) %> by <%= link_to doodle.artist.name, artist_path(doodle.artist.id) if doodle.artist.present? %><br>
  <%= cl_image_tag doodle.image_url, :class => 'doodle' %></li>
<% end %>
</ul>
