// Place all the styles related to the Artist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.avatar {
  max-width: 10%;
  max-height: 12%;
}

body {
  background-color: #c7d3e5;
  font-family: 'Nunito', sans-serif;
}

#artist_blurb {
  max-width: 80%;
  max-height: 30%;
}

nav {
  display: inline-block;
  background-color: #b08010 !important;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 10px;
  margin-right: 20px;
  border-radius: 20px;
}

#profile_details {
  background-color: #efc050 !important;
  padding: 10px;
  border-radius: 20px;
}
